.App {
  display: grid;
  grid-template-columns: 5% 30% 10% 50% 5%;
  grid-template-rows: 5% 90% 5%;
}

.panel {
  display: flex;
  border: 3px solid goldenrod;
  background-color: #00008b5e;
  color: white;
}

.right {
}

.left {
}